
@media screen and (min-width: 48em) {

	.brand-title {

 	 font-size: 2.5em;
	}

	.nav-menu {
		background: transparent;
	}


	.md-pull-down {
		bottom: 0;
	}

	.layout {
		padding: 1em 2em;
	}

	.header {
	  //position: fixed;
	}
	
	.content {
	  padding-top: 0.5em;
	}

	
	

}