{% include head.html %}
    
	<div class="content pure-u-1">
	   {{ content }}
       <div class="post-list reader">
			{% for post in site.posts %}
				<div class="post margin-bottom-4">
					<a class="title" href="{{ post.url }}"><h2 class="">{{ post.title }}</h2></a>

					<div class="post-content">
					{{ post.content }}
					</div>

					<span class="tags">Tags:
						{% for tag in post.tags %}
							<a class="tag_list_link" href="/tag/{{ tag }}">{{ tag }}</a> 
      					{% endfor %}
					</span>
				</div>
			{% endfor %}
		</div>

		
     </div>

{% include footer.html %}
      